* {
    box-sizing: border-box;
    font-family: "Libre Franklin", Verdana, sans-serif;
}

.libre-franklin {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
  }  

html {
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    margin: 0;
    flex-direction: column;
}

button {
    background-color: transparent;
    border: none;
    color: white;
}

#page {
    position: absolute;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}

#content {
    top: 64px;
}
