* {
    box-sizing: border-box;
    font-family: "Libre Franklin", Verdana, sans-serif;
}

.libre-franklin {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
  }  

html, body {
    background-color: black;
    display: flex;
    margin: 0;
    flex-direction: column;
    overflow-x: hidden;
}

button {
    background-color: transparent;
    border: none;
    color: white;
}

#page {
    position: absolute;
    height: 100vh;
    overflow-x: hidden;
}

#content {
    top: 64px;
}
