* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

html, body {
    background-color: black;
    display: flex;
    margin: 0;
    flex-direction: column;
    overflow-x: hidden;
}

button {
    background-color: transparent;
    border: none;
    color: white;
}

#page {
    position: absolute;
    height: 100vh;
    overflow-x: hidden;
}

#content {
    top: 64px;
}
