#header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: transparent;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 99;
    backdrop-filter: blur(5px);
}

#header-logo > span {
    color: white;
    padding-left: 16px;
    padding-right: 16px;
}

#header-menu-button {
    height: 28px;
    width: 28px;
    transition: opacity 0.25s;
}

#header-menu-button > a:hover {
    opacity: 90%;
}

#menu {
    background-color: #736f60;
    color: white;
    position: absolute;
    right: 0px;
    width: 0px;
    height: 100vh;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

#menu > a {
    font-size: 24px;
    color: white;
    opacity: 60%;
    text-decoration: none;
    padding-left: 24px;
    padding-bottom: 16px;
    transition: opacity 0.25s;
}

#menu > a:hover {
    opacity: 90%;
}