#content {
    display: flex;
    flex-direction: column;
}

#content > div {
    background-color: black;
}

#content > div > p {
    color: white;
}

#div-1 {
    margin: 0;
    height: 100vh;
    height: 100svh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

#div-1 > img {
    position: absolute;
    top: 64px;
    min-height: 100%;
    min-width: 100%;
    opacity: 40%;
}

#div-1 > h1 {
    position: absolute;
    color: white;
    font-weight: 500;
    opacity: 40%;
    z-index: 1;
}
