#content {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
}

#div-1 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    transform-style: preserve-3d;
}

#div-1::before {
    content: "";
    width: 100%;
    min-height: 100%;
    position: absolute;
    background: url("../resources/biking.jpg") top center;
    background-size: cover;
    transform: translateZ(-1px) scale(2.05);
}

#div-1 > h1 {
    position: absolute;
    color: white;
    text-shadow: 0.05em 0.05em 0.2em black;
    text-align: center;
    font-size: min(10vw, 64px);
    font-weight: 450;
    letter-spacing: 0.02em;
    white-space: nowrap;
    z-index: 1;
}

#div-1 > span {
    position: absolute;
    color: white;
    text-align: center;
    font-size: min(4vw, 24px);
    text-shadow: 0.05em 0.05em 0.1em black;
    bottom: 2vh;
    z-index: 1;
}

#div-2 {
    position: absolute;
    width: 100%;
    margin-top: 0;
    background-color: #55503d;
}

#div-2 > h2 {
    color: white;
}

#div-2 > p {
    color: white;
    font-size: max(2vw, 16px);
    font-weight: 450;
}