#content {
    position: absolute;
    top: 64px;
    height: calc(100vh - 64px);
    width: 100%;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
}

.leaflet-tile-pane {
    filter: grayscale(1) invert();
}